
body {
    background-color: #f8f4e9;
}

h1 {
    font-size: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
}

p {
    /* background-color: blanchedalmond; */
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

#üst {
    size: 20px;
    color:black;
    font-family: 'Zen Kurenaido', sans-serif;
}

#alt {
    size: 20px;
    color:black;
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: right;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

footer {
    display: block;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
    color:palevioletred;
}
